body{
    margin: 0;
    font-family: cursive;
}

h1{
    text-align: center;
}

.container{
    display: flex;
    flex-wrap: wrap;            /* Responsive website*/
    justify-content: center;
}

.color-container{
    background-color: orange;
    width: 300px;
    height: 150px;
    color: white;
    margin: 5px;
    display: flex;
    justify-content: center;    /*It align item horizontally center*/
    align-items: center;        /*It align item vertically center*/
    font-size: 25px;
    text-shadow: 2px 2px 4px rgba(0,0,0,.5);
    border: solid black 2px;
    border-radius: 10px; 
}
